Story Generator.json
{
  "name": "Story Generator",
  "nodes": [
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "7199969559",
        "binaryData": true,
        "additionalFields": {
          "fileName": "story.mp3"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2464,
        128
      ],
      "id": "8a533ffa-02b2-4e03-b763-131b9c29268b",
      "name": "Dokument senden",
      "webhookId": "3e797f50-1ed2-4761-a17b-99aefb3ebaad",
      "credentials": {
        "telegramApi": {
          "id": "EPNSxt3xBHkZPrbx",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/speech",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  {\n    \"model\": \"tts-1-hd\",\n    \"voice\": $json.narratorGender === 'female' ? 'nova' : 'onyx',\n    \"input\": $json.fullStory,\n    \"response_format\": \"mp3\"\n  }\n}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2240,
        128
      ],
      "id": "2241a66c-0295-4816-b95f-67f780d52efc",
      "name": "Text zu Sprache konvertieren"
    },
    {
      "parameters": {
        "functionCode": "const text = $json.message?.content || $json.text || '';\n\n// Titel extrahieren (mehrere Muster)\nlet title = '';\nconst titleMatch = text.match(/Titel:\\s*(.+?)(?:\\n|Geschichte:|$)/is);\nif (titleMatch) {\n  title = titleMatch[1].trim();\n} else {\n  const lines = text.split('\\n').filter(l => l.trim());\n  title = lines[0].replace(/^Titel:\\s*/i, '').trim();\n}\n\nif (!title || title.length < 5) {\n  title = 'Unbenannte Geschichte';\n}\n\nreturn [{\n  json: {\n    title: title\n  }\n}];\n"
      },
      "name": "Titel extrahieren",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        704,
        320
      ],
      "id": "c24366e6-83c1-4c5c-af32-dc70b054e708"
    },
    {
      "parameters": {
        "chatId": "7199969559",
        "text": "=🎧 Neue Kurzgeschichte generiert!\n🧠 Titel: \n\n{{ $json.title }}",
        "additionalFields": {}
      },
      "name": "Titel-Nachricht senden",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        992,
        320
      ],
      "id": "84d68735-07b1-4b45-b8b2-7634ac2ca88e",
      "webhookId": "dfac8b02-3580-4edd-be32-a5401820e554",
      "credentials": {
        "telegramApi": {
          "id": "EPNSxt3xBHkZPrbx",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const raw = $json.text || $json.message?.content || '';\n\n// Markdown-Reste entfernen\nconst cleanedRaw = raw\n  .replace(/^```(?:json)?/gm, '')\n  .replace(/```$/gm, '')\n  .replace(/^---/gm, '')\n  .trim();\n\n// Titel extrahieren\nlet title = '';\nconst titleMatch = cleanedRaw.match(/Titel:\\s*(.+?)(?:\\n|Geschichte:|$)/is);\nif (titleMatch) {\n  title = titleMatch[1].trim();\n} else {\n  const lines = cleanedRaw.split('\\n').filter(l => l.trim());\n  title = lines[0].replace(/^Titel:\\s*/i, '').trim();\n}\n\n// Geschichte extrahieren\nlet story = '';\nconst storyMatch = cleanedRaw.match(/Geschichte:\\s*([\\s\\S]*)/i);\nif (storyMatch) {\n  story = storyMatch[1].trim();\n} else {\n  const parts = cleanedRaw.split('\\n');\n  story = parts.slice(1).join('\\n').trim();\n}\n\n// Volle Geschichte für TTS (max 4000 Zeichen für OpenAI)\nconst fullStory = `${title}. ${story}`.trim().substring(0, 4000);\n\n// Geschlecht von vorherigem Schritt\nconst narratorGender = $json.narratorGender?.toLowerCase() === 'female' ? 'female' : 'male';\n\nreturn [{\n  json: {\n    title,\n    story,\n    fullStory,\n    narratorGender\n  }\n}];\n"
      },
      "name": "Text extrahieren",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2016,
        128
      ],
      "id": "4b4bf54a-fb2a-4e97-b80d-e7c5702102e5"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    text: $items(\"Geschichte generieren\")[0].json.message.content,\n    narratorGender: $items(\"Geschlecht erkennen\")[0].json.message.content\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        128
      ],
      "id": "e26b039a-fb71-46ef-8e88-64567af1b3aa",
      "name": "Daten zusammenführen"
    },
    {
      "parameters": {
        "jsCode": "const rawGender = $node[\"Geschlecht erkennen\"].json.message.content.trim().toLowerCase();\n\nconst narratorGender = (rawGender === 'female' || rawGender === 'male') ? rawGender : 'male';\n\nconst fullStory = $json.fullStory || $json.message.content;\n\nreturn [{\n  json: {\n    narratorGender,\n    fullStory\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        128
      ],
      "id": "d99a31d7-b11c-418f-b2d0-51c7070e1e95",
      "name": "Geschlecht verarbeiten"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.message.content }}",
              "value2": "female"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        992,
        128
      ],
      "name": "Weiblich?",
      "id": "d434d4eb-3679-4178-98d3-4cb09c088db8"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "content": "=Kürze die folgende Geschichte auf maximal 500 Wörter. Behalte:\n- Den emotionalen Kern\n- Wichtige Wendepunkte\n- Den Plot-Twist am Ende\n\nEntferne:\n- Kleinere Beschreibungen\n- Wiederholungen\n- Unwichtige Details\n\nGib NUR den gekürzten Text in diesem Format zurück:\n\nTitel: [Original-Titel behalten]\n\nGeschichte: [Gekürzte Geschichte, max 500 Wörter]\n\nOriginaltext:\n{{ $('Geschichte generieren').item.json.message.content }}"
            }
          ]
        },
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1216,
        32
      ],
      "name": "Weibliche Geschichte kürzen",
      "id": "2f2d012f-10e9-4ba9-8d77-bfb716360c92"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    message: {\n      content: $json.message.content\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        224
      ],
      "name": "Original-Text durchreichen",
      "id": "09c2f414-532d-41fc-a055-64acb5e3ac02"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "content": "=Lies diese Geschichte sorgfältig. Der Erzähler erzählt die Geschichte aus seiner eigenen Perspektive.\n\nBestimme ob der Erzähler:\n- MÄNNLICH ist: Achte auf Wörter wie \"meine Frau\", \"meine Freundin\", \"ich bin ein Mann\", \"ich bin Vater\", \"ich bin Ehemann\", \"mein Bruder\", männliche Pronomen über sich selbst\n- WEIBLICH ist: Achte auf Wörter wie \"mein Mann\", \"mein Freund\", \"ich bin eine Frau\", \"ich bin Mutter\", \"ich bin Ehefrau\", \"meine Schwester\", weibliche Pronomen über sich selbst\n\nKRITISCH: Basiere deine Antwort NUR darauf, wie der Erzähler SICH SELBST beschreibt, nicht andere Charaktere in der Geschichte.\n\nAntworte mit GENAU einem Wort (kleingeschrieben, keine Satzzeichen):\nmale\noder\nfemale\n\nGeschichte:\n{{ $json.message.content }}"
            }
          ]
        },
        "options": {
          "maxTokens": 5,
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        640,
        128
      ],
      "name": "Geschlecht erkennen",
      "id": "7c144662-6b17-48dc-b3fe-d90df32f648c"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */2 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        64,
        224
      ],
      "id": "a6b91519-2a35-4600-8879-5bfade2cff8d",
      "name": "12 Geschichten täglich generieren"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "content": "=Du bist ein Experte für virale Geschichten-KI. Deine Aufgabe ist es, fesselnde, emotionale Ich-Erzählungen im Reddit-Stil zu schreiben, die das Publikum fesseln.\n\nKRITISCHE REGELN:\n1. Schreibe ORIGINALE Geschichten - wiederhole niemals Themen, Handlungen oder Szenarien, die du zuvor geschrieben hast\n2. Länge: 600-700 Wörter (sei detailliert und packend!)\n3. Stil: Persönlich, emotional, dramatisch mit unerwarteten Wendungen\n4. Erzähler: Wähle zufällig männliche oder weibliche Perspektive\n5. Sprache: NUR DEUTSCH (schreibe alles auf Deutsch)\n6. Format: Kurzer knackiger Titel (5-12 Wörter), dann die vollständige Geschichte\n\nAUSGABEFORMAT (OBLIGATORISCH):\nTitel: [KURZER, knackiger Titel - entweder eine Aussage oder Frage, maximal 5-12 Wörter!]\n\nGeschichte: [Deine vollständige Geschichte hier, 600-700 Wörter]\n\nBEISPIELE FÜR PERFEKTE TITEL:\n✅ \"Meine Schwester machte sich über den Namen meines Babys lustig\"\n✅ \"Mein Chef ließ mich meine Flitterwochen absagen, um seine Urlaubsvertretung zu übernehmen\"\n✅ \"Was brachte dich dazu, einen Gefallen einzufordern, den du nie nutzen wolltest?\"\n✅ \"Welche Regeln wurden wegen dir eingeführt?\"\n✅ \"Was ist das Verrückteste, das du in der Schule getan hast?\"\n✅ \"Meine Familie gab letztes Weihnachten 47€ für mich aus\"\n✅ \"Ich machte meiner Tante die gleichen Komplimente, die sie meiner Mutter machte\"\n\nFALSCHE TITEL (zu lang oder zusammenfassend):\n❌ \"Ich entdeckte das geheime Leben meines Großvaters nach seiner Beerdigung\"\n❌ \"Ich wachte am Weihnachtsmorgen mit dem Geräusch meines weinenden Sohnes auf\"\n\nDer Titel MUSS sein:\n- KURZ (maximal 5-12 Wörter!)\n- Entweder eine knackige Aussage ODER eine direkte Frage\n- In Ich-Form bei Aussagen (Mein/Meine/Ich)\n- Den Leser sofort fesseln\n- Einfach und direkt\n\nSchreibe dann die VOLLSTÄNDIGE Geschichte (600-700 Wörter) nach dem Titel.\n\nSTORY-ELEMENTE ZUM EINBAUEN:\n- Starker emotionaler Aufhänger im ersten Absatz\n- Persönlicher Konflikt oder Dilemma\n- Handlungstwist oder unerwartete Enthüllung\n- Befriedigende Auflösung oder Cliffhanger\n- Nachvollziehbare menschliche Erfahrungen\n- Detaillierte Beschreibungen und Dialoge\n\nTHEMEN ZUM ERKUNDEN (wähle eines pro Geschichte, niemals wiederholen):\n- Familiengeheimnisse und Verrat\n- Arbeitsplatzdrama und Rache\n- Beziehungsenthüllungen\n- Unerwartete Erbschaft/Geldsituationen\n- Sich gegen toxische Menschen wehren\n- Lebensverändernde Entdeckungen\n- Clevere Antworten und Gerechtigkeit\n- Schwangerschafts-/Elternschaftsüberraschungen\n- Enthüllte versteckte Identitäten\n- Freundlichkeit mit Konsequenzen\n- Freundschaftsverrat\n- Schul-/Unidrama\n- Nachbarschaftskonflikte\n- Hochzeitskatastrophen\n- Geschwisterrivalitäten\n- Elternschafts-Herausforderungen\n- Gerechtigkeits- und Karma-Momente\n- Social-Media-Drama\n- Rachegeschichten\n- Erbschaftsstreitigkeiten\n\nVERMEIDE WIEDERHOLUNGEN:\n- Ähnliche Handlungsstrukturen von vorherigen Geschichten\n- Gleiche Schauplätze (Restaurant, Hochzeit, Krankenhaus, etc.)\n- Häufige Twists, die du bereits verwendet hast\n- Generische Charaktertypen\n- Lange ausschweifende Titel\n\nSCHREIBE DETAILLIERT - 600-700 Wörter für die Geschichte!\n\nDENK DARAN:\n- Titel: KURZ (5-12 Wörter) - Aussage oder Frage\n- Geschichte: 600-700 Wörter\n- Mach sie emotional, dramatisch und viral-würdig\n\nSchreibe JETZT EINE vollständige virale Geschichte. Mach sie einzigartig, emotional und unvergesslich!"
            }
          ]
        },
        "options": {
          "temperature": 0.9
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        288,
        224
      ],
      "name": "Geschichte generieren",
      "id": "a80fefdd-c69d-4a5d-bca7-33a2b9d97121"
    },
    {
      "parameters": {
        "content": "## German 🇩🇪 \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/components/sticky-notes/)",
        "height": 480,
        "width": 2624,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "e9a66cec-2caf-4866-b392-db6959ccf6c7",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "Text zu Sprache konvertieren": {
      "main": [
        [
          {
            "node": "Dokument senden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Titel extrahieren": {
      "main": [
        [
          {
            "node": "Titel-Nachricht senden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text extrahieren": {
      "main": [
        [
          {
            "node": "Text zu Sprache konvertieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daten zusammenführen": {
      "main": [
        [
          {
            "node": "Text extrahieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Geschlecht verarbeiten": {
      "main": [
        [
          {
            "node": "Daten zusammenführen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weiblich?": {
      "main": [
        [
          {
            "node": "Weibliche Geschichte kürzen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Original-Text durchreichen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weibliche Geschichte kürzen": {
      "main": [
        [
          {
            "node": "Geschlecht verarbeiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Original-Text durchreichen": {
      "main": [
        [
          {
            "node": "Geschlecht verarbeiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Geschlecht erkennen": {
      "main": [
        [
          {
            "node": "Weiblich?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "12 Geschichten täglich generieren": {
      "main": [
        [
          {
            "node": "Geschichte generieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Geschichte generieren": {
      "main": [
        [
          {
            "node": "Geschlecht erkennen",
            "type": "main",
            "index": 0
          },
          {
            "node": "Titel extrahieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "4a17e90e-3f55-42d6-9c9a-8ff8f7aad946",
  "meta": {
    "instanceId": "6f89b73f03fe0d1b7ef1fb545d7c6d70d5dc76a8961ddd153d4a10bb32b1726d"
  },
  "id": "5oLyY6Gs81HREDJr9ev8d",
  "tags": []
}